<!-- Footer uses the active countries list to create a navbar -->
<div id="footer">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/introduction">Introduction</a></li>
    <li><a href="/overview">Pacific Overview</a></li>
    <li><a href="/avaiki">Avaiki - An Island in the Pacific</a></li>
    <li><a href="/references">References</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <ul>
    <li><a href="/app/ASM">American Samoa</a></li>
    <li><a href="/app/AUS">Australia</a></li>
    <li><a href="/app/COK">Cook Islands</a></li>
    <li><a href="/app/FSM">Federated States of Micronesia</a></li>
    <li><a href="/app/FJI">Fiji</a></li>
    <li><a href="/app/PYF">French Polynesia</a></li>
    <li><a href="/app/GUM">Guam</a></li>
    <li><a href="/app/KIR">Kiribati</a></li>
    <li><a href="/app/MHL">Marshall Islands</a></li>
    <li><a href="/app/NRU">Nauru</a></li>
    <li><a href="/app/NCL">New Caledonia</a></li>
    <li><a href="/app/NZL">New Zealand</a></li>
    <li><a href="/app/NIU">Niue</a></li>
    <li><a href="/app/PLW">Palau</a></li>
    <li><a href="/app/PNG">Papua New Guinea</a></li>
    <li><a href="/app/WSM">Samoa</a></li>
    <li><a href="/app/SLB">Solomon Islands</a></li>
    <li><a href="/app/TON">Tonga</a></li>
    <li><a href="/app/TUV">Tuvalu</a></li>
    <li><a href="/app/VUT">Vanuatu</a></li>
    <li><a href="/app/WLF">Wallis and Futuna</a></li>
  </ul>
</div>
