<!DOCTYPE HTML>
<html>
  <% include partials/header %>
  <body>
    <div id=titlelong>About The Project</div>

    <div id="about" class="section text">
      <div class="text">
        <h2>Fibre Optic Cable Systems</h2>
        <p>Cables span the vast distances of the Pacific ocean, liking the majority of islands. The last decade has seen new cables
          connecting French Polynesia, the Marshall Islands, Micronesia, New Caledonia, Samoa, Tonga, and Vanuatu to Pacific hubs
          like Australia, Fiji, Guam, Hawaii, and New Zealand. <em><strong>What these new cables don't do is connect Pacific Islands to each other.</strong></em></p>

        <h3>Background</h3>
        <p>Many telecommunications networks in the Pacific interconnect not directly but via international carriers
          in the United States or Australia. This has a profound impact on both the cost and the performance of
          regional traffic. While web traffic is slowed, real-time collaborations are rendered unusable,
          creating barriers for inter-island collaboration.</p>

        <h3>Research</h3>
        <p>The project seeks to understand intra-island and inter-island communications and barriers preventing it. Commercial, education, government, and
          development agencies were interviewed, with an emphasis on Pan-Pacific businesses and initiatives.
          RIPE Atlas probes were supplied to Pacific networks to measure their topology and performance. </p>

        <h3>Strategy</h3>
        <p>Informed by regional communications requirements and the physical and economic realities of
          submarine fibre optic cable systems, the project seeks to produce a regional peering strategy. This plan will
          suggest interconnections that will achieve a good balance of cost and performance for both telecommunications providers and their users.   </p>

        <h3>Learn More</h3>
        <p>Findings of the project have been presented in several forms at conferences around the Pacific:</p>

        <ul class="default">
          <li>Ho Chi Minh City, Vietnam, February 2017: APRICOT 2017 <a href="/presentations/brewerj_peering_strategy_pacific_apricot17.pdf"> pdf 3 mb</a></li>
          <li>Colombo, Sri Lanka, September 2016: APNIC42 <a href="/presentations/brewerj_peering_strategy_pacific_apnic42.pdf">pdf 3 mb</a></li>
          <li>Honolulu, Hawaii, January 2016: PTC 16 <a href="/presentations/brewerj_peering_strategy_pacific_ptc16_notes.pdf">pdf 9 mb</a></li>
          <li>Tumon Bay, Guam, December 2015: PACNOG 18 <a href="/presentations/brewerj_peering_strategy_pacific_pacnog18.pdf">pdf 35 mb</a></li>
          <li>Melbourne, Australia, August 2015: AusNOG 2015 <a href="/presentations/brewerj_networking_the_pacific_ausnog_2015.pdf">pdf 65 mb</a></li>
          <li>Apia, Samoa, July 2015: PACNOG 17 <a href="/presentations/brewerj_networking_the_pacific_pacnog15_2015.pdf">pdf 85 mb</a></li>
          <li>Auckland, New Zealand, July 2015: PacINET 2015 <a href="/presentations/brewerj_networking_the_pacific_pacinet_2015.pdf">pdf 14 mb</a></li>
          <li>Fukuoka, Japan, March 2015: APRICOT 2015 <a href="/presentations/brewerj_networking_the_pacific_apricot_2015.pdf">pdf 26 mb</a></li>
          <li>Rotorua, New Zealand, January 2015: NZNOG 2015 <a href="/presentations/brewerj_networking_the_pacific_nznog_2015.pdf">pdf 7mb</a></li>
        </ul>

        <p>Initial research for this project was funded by the Information Society Innovation Fund & the Network Startup Resource Center. Ongoing support for the project through 2020 is provided by the APNIC Operational Research Fund.</p>

        <p>
          <a href="http://isif.asia/" target="_blank" style="border-bottom-style: none;"><img style="margin: 0px 25px 32px 0px;" src="images/isif-logo.png" alt="ISIF_white" width="" height="40" /></a>
          <a href="http://apnic.net/" target="_blank" style="border-bottom-style: none;"><img style="margin: 20px 20px 20px 0px;" src="images/APNIC_logo.png" alt="apnic_logo_white" width="" height="60" /></a>
          <a href="http://nsrc.org/" target="_blank" style="border-bottom-style: none;"><img style="margin: 20px 0px 0px 0px;" src="images/nsrc-logo-front.png" alt="nsrc_logo_white" width="" height="76" /></a>
        </p>

        <h3>Credits</h3>
        <ul class="default">
          <li>Jonathan Brewer: Project Lead</li>
          <li>Emily Mabin-Sutton: Research Assistant</li>
          <li>Jessica Masaka: Research Assistant</li>
          <li>Keith Ng: Web Site and Data Visualisation</li>
          <li>George Michaelson: ASN data API and Reviewer</li>
          <li>Steve Song: Reviewer</li>
          <li>Antony Royal: Reviewer</li>
          <li>Sylvia Cadena: Grant Administrator</li>
        </ul>
      </div>
    </div>

    <% include partials/footer %>
  </body>
</html>
