<!DOCTYPE HTML>
<html>
  <% include partials/header %>
  <body>
    <div id=titlelong>A Peering Strategy for the Pacific Islands</div>

    <div id="telecoms" class="section text">
      <div class="text">
        <p>Many telecommunications networks in the Pacific interconnect not directly but via international carriers in the United States or Australia. This has a profound impact on both the cost and the performance of regional traffic. While web traffic is slowed, real-time collaborations are rendered unusable, creating barriers for inter-island collaboration.</p>
        <p>Governments, competitive carriers, Internet societies, and activists argue that direct interconnection, or peering, is the answer to these performance problems. They believe that if competitive networks are allowed to exchange traffic free-of-charge with incumbent networks, the cost of Internet will go down, and performance will go up.</p>
        <p>Incumbent networks throughout the Pacific steadfastly refuse to openly peer with other carriers, education networks, and government networks - and a change in this behaviour is not in sight. Not only do they refuse to peer, they sometimes charge their competitors more for direct access to their networks than competitors pay for global Internet connectivity. Competitors, activists, and even governments say this is a clear violation of network neutrality. My investigation of carrier interconnections in the Pacific has shown the situation to be far more nuanced.</p>
        <p>This site reviews the telecommunications environment of the Pacific Islands. It looks at each market's connectivity to the world: telecommunications, sea freight, air routes, and trade. It provides real-time statistics on carrier market share. It considers the complexity of island telecommunications through a composite example. Over time it will be expanded to include data on carrier interconnections and performance to each market's major trading partners.</p>
      </div>
    </div>

    <% include partials/footer %>
  </body>
</html>
