<!DOCTYPE HTML>
<html>
  <% include partials/header %>
  <body>
    <div id=titlelong>Pacific Telecommunications Overview</div>

    <div id="telecoms" class="section text">
      <div class="text">
        <h2>An Overview of Pacific Carriers</h2>
        <p>Carriers servicing the Pacific Islands are faced with challenges unique to the Pacific. They're far away from the world, and from each other. Their markets are often characterised by extremely low population densities. Incumbent operators have a history of market dominance, fixed infrastructure, and real estate holdings, posing a difficult entry for challengers. Challengers can have a far lower cost structure - especially those with mobile-only offerings. Government owned carriers can be faced with perverse incentives including sustaining uneconomic practices, or keeping prices high in order to return a dividend. These issues are covered below as a prelude to discussion of issues with peering in the Pacific.</p>
        <h2>Incumbent Carriers are Dominant</h2>
        <p>Governments were the first investors in telecommunications in nearly every market in the Pacific, typically via Post and Telegraph departments. In many cases they operated as a sanctioned monopoly, a practice that exists today in markets including the Cook Islands, French Polynesia, and New Caledonia. Decades of head start in markets where competition was introduced only recently has generally left incumbents the dominant carriers of Internet traffic.</p>
        <p>The table below considers the eyeball share of the two largest operators in each market studied. Figures are presented as at May 2017 for the incumbent and the largest competitive provider in each market.</p>
        <img src="/images/pacpeer_incumbent_vs_challenge_052017.png" width="100%">
        <p>But for a few exceptions, incumbents in the Pacific generally carry more than 50% of Internet traffic - and several of the exceptions have interesting explanations.</p>
        <p>In Fiji, the incumbent and its largest competitor share the same parent company. In Guam, the market leader for Internet traffic is not the incumbent telco, but the incumbent cable TV operator. Though competition exists at a retail level in New Caledonia, all retailers must purchase Internet traffic at wholesale from the incumbent telco, who also operate the market-leading retail ISP.
          Considering the exceptions, Niue is the only market in the Pacific where an incumbent doesn't dominate. It's not hard to understand why; the competitive provider in Niue is a funded by a charitable organisation and has historically offered free service.</p>

        <h2>Incumbent Carriers have More Infrastructure</h2>
        <p>In general, only incumbents have pervasive fixed line infrastructure - frequently granted as a monopoly. American Samoa, Australia, and Guam, and New Zealand support fixed-line competition in urban areas, primarily via cable TV networks. No other markets have significant competition in the fixed lines space. Competitive broadband offerings rely on wholesale products from incumbents, directly owned cellular and wireless alternatives, or satellite broadband.</p>
        <p>When competitive operators build infrastructure, they build for population density and profitability, not for universal service. While all markets experience this to some degree, the case of Vanuatu is exemplary. While incumbent Telecom Vanuatu and competitor Digicel have multi-island networks, competitor Wantok has accumulated 18% national market share with a network that covers only Vanuatu's capital city Port Vila.</p>

        <h2>Incumbents have Key Real Estate</h2>
        <p>In the days of government ownership of telecommunications and broadcast in New Zealand, the government used eminent domain to secure properties for telephone exchanges and radio towers. These rights persist today, with the current form of former state monopolies owning most of the country's key telecoms real estate. Similar arrangements can be seen in most Pacific Island nations. In some cases when former government operators have privatised, their property rights have accompanied the transfer.</p>

        <h2>Challengers have a Lower Cost Structure</h2>
        <p>The GSMA argues that mobile carriers have a higher cost structure than fixed operators. As the basis for that argument they cite:</p>
        <ul>
          <li>Scarcity of radio spectrum</li>
          <li>More competitive pressure on mobile carriers</li>
          <li>Longer useful lives of assets for fixed carriers</li>
        </ul>
        <p>It is a different case in the Pacific. There's no scarcity of radio spectrum in the Pacific islands. Mobile competitors are often the only alternative to incumbents. And fixed carriers in the Pacific have a higher cost basis due to island environments; cabling both above and underground is more difficult to maintain in tropical island environments than it is in temperate continental ones.</p>
        <p>Mobile-only carriers in the Pacific are typically competitors without the legacy of decades of support of uneconomic areas. They build for population density and profitability, not for complete coverage.</p>

        <h2>Incumbents have Perverse Incentives</h2>
        <p>When a government-owned incumbent is expected to make a return for its shareholder, their pressure to make a profit out of an often inefficient organisation can be high. Tonga and French Polynesia are examples of islands where telcos pay a dividend to their governments. Privatised incumbents often keep unprofitable services in place or upgrade them due to political pressure. Especially where telecommunications licenses and radio spectrum rights are granted on short terms, incentives can be skewed towards short-term survival rather than long-term profit.</p>
      </div>
    </div>

    <% include partials/footer %>
  </body>
</html>
